// banks
// --------------------------------------------------

// //== Colors
$yellow: #F0BF1B;
$gray: #717071;
$light-gray: #f8f8f8;
$light-green: #6EBAAD;



// //== Layout
body {
	font-family: $font-family-serif;
}
.navbar-wrap {
	// height: 189px;
	// background-color: #eee;
}
.navbar {
	margin-bottom: 0;
	&:after {
		content: none;
	}
	@include mq-up(md) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.cp-tel-list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		&__ttl {
			width: 12%;
			font-weight: 300;
		}
		&__body {
			width: 38%;
			a {
				color: $text-color;
			}
		}
	}
}
.navbar-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: aouto;
	&:before {
		content: none;
		// content: "";
		// display: block;
		// width: 44px;
		// height: 34px;
	}
	&:after {
		content: none;
	}
	&__logo {
		width: 168px;
		height: 51px;
	}
}
.navbar-brand {
	height: auto;
}
.cp-info__area {
	@include padding(8px 5% 8px 45%);
	font-family: $font-family-sans-serif;
	font-size: 12px;
	@include mq-down(md) {
		display: none;
	}
}

// jumbotron area
.jumbotron {
	margin-top: 86px;
	background-image: url("/images/common/bg_top.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@include mq-up(md) {
		min-height: 714px;
		margin-top: 118px;
	}
}
.block-mg-md {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
// content ttl yellow
.content-ttl {
	flex: 1 1 100%;
	text-align: center;
}
h2.content-ttl {
	margin-bottom: 48px;
	font-size: 44px
}
h4.content-ttl {
	font-size: 24px
}
.ttl-inner--udl-yellow {
	display: inline-block;
	@include padding(null 8px);
	border-bottom: 4px solid $yellow;
}
.btn-contact {
	&-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		margin-bottom: 56px;
	}
	display: block;
	width: 20em;
	padding: 0;
	border-radius: 8px;
	background-color: $light-green;
	border: 2px solid #fff;
	box-shadow: 0 0 0 2px $light-green;
	cursor: pointer;
	transition: .3s;
	&:hover {
		background-color: rgba($light-green, .8);
	}
	> a {
		display: block;
		@include padding(.5em 1em);
		font-size: 16px;
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
}
.carousel-slider-wrap {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
// section 01
.section-01 {
	.section-inner {
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.cilcle {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex: 1 1 60vw;
		max-width: 60vw;
		height: 60vw;
		// margin-right: calc(85% - 250px);
		// margin-left: 15%;
		margin-bottom: 2vh;
		background-color: $yellow;
		border-radius: 50%;
		color: #fff;
		@include mq-up(md) {
			flex: 1 1 250px;
			max-width: 250px;
			height: 250px;
			margin-bottom: 10vh;
			&:last-child {
				margin-top: 12vh;
				margin-bottom: 0;
			}	
		}
		&__ttl {
			flex: 1 1 100%;
			@include margin(72px null 0);
			line-height: 1;
			text-align: center;
			font-size: 24px;
			@include mq-up(md) {
				font-size: 32px;
			}
		}
		&__body {
			flex: 1 1 100%;
			@include margin(null null 72px);
			line-height: 1.25;
			text-align: center;
			font-size: 16px;
			@include mq-up(md) {
				font-size: 20px	;
			}
		}
	}
	.cross-icon__block {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -8vw;
		@include mq-up(md) {
			margin: 0 -24px;
		}
		&-body {
			margin-bottom: 8px;
			font-size: 24px;
			color: $gray;
			text-align: center;
			line-height: 1;
		}
	}
	.cross-icon {
		@include margin(null 6vw 0 4vw);
			@include mq-up(md) {
				@include margin(null 16px 0 10px);
			}
		&:before, &:after {
			content: "";
			display: block;
			width: 20px;
			height: 4px;
			background-color: $gray;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			position: relative;
			top: -4px;
			transform: rotate(45deg);
		}
	}
	.brand-logo-txt {
		display: none;
		@include mq-up(md) {
			position: absolute;
			bottom: 0;
			left: 4vw;
			display: block;
			opacity: .5;
			> p {
				margin-bottom: 0;
				font-size: 32px;
				text-align: center;
				line-height: 1;
				color: $yellow;
				&.txt-large {
					font-size: 72px;
				}
			}
		}
	}
} 

// section 02
.section-02 {
	margin-bottom: 0;
	@include padding(80px null);
	background-color: $light-gray;
	.section-inner {
		width: 100%;
		max-width: 684px;
	}
	.merit-list {
		flex: 1 1 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		flex-direction: column;
		margin-bottom: 24px;
		padding-left: 0;
		@include mq-up(md) {
			flex-direction: row;
		}
		&__item {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 90%;
			margin-bottom: 24px;
			border-radius: 16px;
			line-height: 96px;
			background-color: $light-green;
			font-size: 40px;
			color: #fff;
			@include mq-up(md) {
				flex-direction: row;
				margin-bottom: 0;
				margin-left: 40px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	.merit-txt-body {
		width: 90%;
		@include margin(null auto);
		padding: 1em;
		border-radius: 16px;
		background-color: $yellow;
		text-align: center;
		font-size: 24px;
		line-height: 1.25;
		color: #fff;
		@include mq-up(md) {
			width: 100%;
		}
	}
	.content-body {
		width: 90%;
		@include margin(null auto);
		font-size: 16px;
		@include mq-up(md) {
			width: 100%;
		}
	}
}

// section 03
.section-03 {
	margin-top: 0;
	flex-direction: column;
	.section-ttl-block {
		width: 100%;
		background-image: url("/images/common/kitchen_car__yellow.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-top: 8px solid #DADBDA;
	}
	.section-ttl__inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.section-ttl {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 385px;
		height: 156px;
		background-color: rgba(#fff, .8);
		color: $gray;
		text-align: center;
		.main-title {
			margin-bottom: 8px;
			border-bottom: 1px solid $gray;
			font-size: 32px;
		}
		.sub-title {
			font-size: 16px;
		}
	}
	.section-lead-txt {
		margin-bottom: 0;
		padding: 1em;
		background-color: rgba($light-green, .8);
		border-top: 8px solid $yellow;
		text-align: center;
		font-size: 24px;
		color: #fff;
	}
	> .block-mg-md {
		@include margin(0 null);
	}
	.section-inner {
		width: 90%;
		@include margin(null auto);
		@include mq-up(md) {
			width: 100%;
		}
		max-width: 684px;
	}
	.section-ttl--bgc-yellow {
		padding: 1em;
		margin-bottom: 64px;
		border-radius: 16px;
		background-color: $yellow;
		text-align: center;
		font-size: 32px;
		line-height: 1;
		color: #fff;
	}
	.content-ttl {
		margin-bottom: 32px;
	}
	.content-body {
		margin-bottom: 56px;
		font-size: 16px;
	}
	.carousel-slider__kitchen-car {
		width: 100%;
		margin-bottom: 32px;
		padding: 16px;
		background-color: $yellow;
		border: none;
		border-radius: 0;
		img {
			width: 340px;
			height: 200px;
		}
	}
}

// section 04
.section-04 {
	flex-direction: column;
	.section-ttl-block {
		width: 100%;
		background-image: url("/images/common/bento.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-top: 8px solid #DADBDA;
	}
	.section-ttl__inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.section-ttl {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 385px;
		height: 156px;
		background-color: rgba($gray, .5);
		color: #fff;
		text-align: center;
		.main-title {
			margin-bottom: 8px;
			border-bottom: 1px solid #fff;
			font-size: 32px;
		}
		.sub-title {
			font-size: 16px;
		}
	}
	.section-lead-txt {
		margin-bottom: 0;
		padding: 1em;
		background-color: rgba($light-green, .8);
		border-top: 8px solid $yellow;
		text-align: center;
		font-size: 24px;
		color: #fff;
	}
	> .block-mg-md {
		@include margin(0 null);
	}
	.section-inner {
		width: 90%;
		@include margin(null auto);
		@include mq-up(md) {
			width: 100%;
		}
		max-width: 684px;
	}
	.section-ttl--bgc-yellow {
		padding: 1em;
		margin-bottom: 64px;
		border-radius: 16px;
		background-color: $yellow;
		text-align: center;
		font-size: 32px;
		line-height: 1;
		color: #fff;
	}
	.content-ttl {
		margin-bottom: 32px;
	}
	.content-body {
		margin-bottom: 56px;
		font-size: 16px;
	}
	.carousel-slider__bento {
		width: 100%;
		margin-bottom: 80px;
		padding: 16px;
		background-color: $yellow;
		border: none;
		border-radius: 0;
		img {
			width: 340px;
			height: 200px;
		}
	}
}
.section-05 {
	.section-inner {
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		flex-direction: column;
		@include mq-up(md) {
			flex-direction: row;
			flex-wrap: wrap;
			width: 760px;
		}
	}
	.content-ttl {
		font-size: 44px;
		width: 100%;
	}
	.profile-pic {
		width: 260px;
		height: 330px;
	}
	.profile-block {
		width: 100%;
		@include padding(null 16px);
		text-align: left;
		font-size: 16px;
		@include mq-up(md) {
			width: 500px;
			@include padding(null 0 null 40px);
		}
		.message-body {
			margin-bottom: 32px;
			font-size: 16px;
		}
		.profile-info {
			margin-bottom: 16px;
			&-body {
				font-size: 14px;
				margin-bottom: 0;
			}
		}
		.profile-name {
			&-ttl {
				margin-bottom: 0;
			}
			&-body {
				font-size: 24px;
			}
		}
	}
}
.page-top.text-center {
	background-color: $yellow;
}

// footer
.footer-info {
	background-color: #646464;
	border-bottom: 8px solid $yellow;
	color: #fff;
	.navbar-header__logo {
		width: 140px;
		height: 140px;
	}
	.copy-right {
		display: block;
		width: 100%;
		padding-top: 32px;
		text-align: center;
		font-size: 14px;
	}
}
.footer-info-area {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.footer-info-block {
	font-size: 16px;
	.lead-txt {
		margin-bottom: 4px;
	}
	.cp-name {
		border-bottom: 1px solid #fff;
	}
	.cp-tellist__ttl {
		display: inline-block;
		font-size: 24px;
	}
	.cp-tellist__body {
		display: inline-block;
		font-size: 24px;
		a {
			color: #fff;
		}
	}
}





















