// banks
// --------------------------------------------------
body {
	font-family: $font-family-serif;
}
.navbar-wrap {
	height: 189px;
	background-color: #eee;
}
.navbar {
	&:after {
		content: none;
	}
	@include mq-up(md) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.cp-tel-list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		&__ttl {
			width: 12%;
			font-weight: 300;
		}
		&__body {
			width: 38%;
			a {
				color: $text-color;
			}
		}
	}
}
.navbar-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: aouto;
	&:before {
		content: none;
		// content: "";
		// display: block;
		// width: 44px;
		// height: 34px;
	}
	&:after {
		content: none;
	}
	&__logo {
		width: 168px;
		height: 51px;
	}
}
.navbar-brand {
	height: auto;
}
.cp-info__area {
	@include padding(8px 5% 8px 45%);
	font-family: $font-family-sans-serif;
	font-size: 12px;
	@include mq-down(md) {
		display: none;
	}
}