extends /_extend/_layout
block title
	title BANKS
block prepend meta
	meta(name="description", content="***********")
	meta(name="keywords", content="***********")
block prepend css
	include /_include/_inc__css
block body
	.navbar-wrap
		nav(role="navigation").navbar.navbar-default.navbar-fixed-top
			.navbar-header
				a(href="#").navbar-brand
					|BANKS produce
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav
					li.active
						a(href="#")
							|BANKSとは
					li
						a(href="#")
							|キッチンカー
					li
						a(href="#")
							|お弁当
					li
						a(href="#")
							|メッセージ
					li
						a(href="#")
							|お問い合わせ
			.cp-info__area
				.cp-name
					|株式会社OmtRak (BANKS事業部)
				.cp-address
					|東京都新宿区西五軒町11-5　第31弥生ビル3F
				dl.cp-tel-list
					dt.cp-tellist__ttl
						|TEL:
					dd.cp-tellist__body
						|03-6265-0535
					dt.cp-tellist__ttl
						|FAX:
					dd.cp-tellist__body
						|03-6265-0538
	#sb-site
		header
			.jumbotron
				.container-fluid
					.row
						.col-sm-10.col-sm-offset-1
							.bounceInDown.animated
								h1
									|BANKS produce
		main(role="main")#main
			.container-fluid
				.row
					.col-sm-10.col-sm-offset-1
						article
							section.block-mg-md
								h2
									|Business
								.cilcle
									p
										|仕出し弁当
									p
										|ロケ弁・会議弁当 高級弁当の配達
								.cilcle
									p
										|仕出し弁当
									p
										|ロケ弁・会議弁当 高級弁当の配達
							section.block-mg-md
								h2
									|Strong point
								ul
									li
										|目利き
									li
										|経験
									li
										|実績
								p
									|元銀行マンのビジネススキルと飲食業10年以上の経験を活かしお客様にとって価値ある提案を致します
								p
									|数あるサイトの中から日程や価格など、目的に合った物を探すだけでも大変ですがその業者が優良業者とも限らずご苦労をした方々も多いかと思われます。<br>
									|BANKSではその手間を一切お掛けせず、幅広いお客様のニーズに柔軟に対応させていただきます。飲食に関する事はなんでもBANKSにご相談ください。<br>
									|あなたのビジネスが 次につながるお手伝いをさせていただきます。
							section.block-mg-md
								h2
									.main-title
										|Kichen-Car BANK
									.sub-title
										|キッチンカーの出店手配、レンタル、製作
								p
									|企画力、マーケティング力を活かしキッチンカーの様々なニーズに応えます
								section.block-mg-md
									h3
										|オリジナルキッチンカーの作製・レンタル
									h4
										|“ 自社工房 ”で製作するキッチンカー
									p
										|移動販売業界で10年以上の実績ある自社だから作れる キッチンカーの製作を自社工房にて行っております。　準備から実務、片付けまで全ての作業がしやすい様、細かい箇所まで設計されており、デザイン面に関しても専属のデザイナーがご要望にお応えしたデザインを作成いたします。
									h4
										|他社との違いを是非レンタルで
									p
										|作成したキッチンカーはレンタルでご利用可能です。<br>
										|イベントにて出店をお考えの方はもちろん、キッチンカー購入をご検討される方も是非ご利用ください。
								section.block-mg-md
									h3
										|出店手配
									h4
										|イベントなどで移動販売を呼びたい
									p
										|業界の前線で培った人脈を活かし、お客様のニーズに合わせ、厳選した出店者をコーディネートし ご紹介いたします。 またイベント自体のプロデュースも行っております。どんなことでもご相談ください。
									h4
										|出店者の全てが安心で安全とは限らない
									p
										|ご自身で出店者を探したり仲介業者に依頼する場合、すべての出店者が良人で高クオリティの物が提供できるとは限りません。 BANKSではただ多くのキッチンカーをご紹介するのではなく、実際共に出店をした実績や信頼のある出店者のみを厳選し、紹介いたします。
									button
										a(href="")
											|詳しくはお問い合わせください
								section.slider
									ul
										li
							section.block-mg-md
								h2
									.main-title
										|Bento BANK
									.sub-title
										|ロケ弁、会議弁当、高級弁当の配達
								p
									|個性際立つ美味しいお弁当を 独自のセンスと経験で選び抜きご提案いたします
								section.block-mg-md
									h3
										|仕出し弁当の配達
									h4
										|イベントなどで移動販売を呼びたい
									p
										|ロケ・イベント・会議・接待などで大量のお弁当が必要になった時、日程や価格、お届け場所などのお客様のニーズに合った弁当を、自社が厳選したお弁当業者のさらに選び抜いた逸品のみをご紹介。実績や信頼のある業者のみを選定しているのでクオリティの高いサービスをお約束。
									button
										a(href="")
											|詳しくはお問い合わせください
								section.slider
									ul
										li
							section.block-mg-md
								h3
									|Top message
								img(src="")
								.profile-block
									h4
										|島田さんメッセージ
									p
										|aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
									p
										|京都大学 法学部卒 経営学修士 (MBA)
									p
										|三井住友銀行日本総合研究所を経て起業し現在に至る。
									p
										|代表取締役社長
									p
										|島田浩志



		hr
		.page-top.text-center.block-mg-md
			a(href="#top") Page Top
		footer
			.block-pd-md.bg-gray-lightest
				.container
					.row
						.col-sm-10.col-sm-offset-1
							.footer-info-area
								.footer-logo
								.footer-info-block
									p
										|まずはお問い合わせください
									.cp-name
										|株式会社OmtRak (BANKS事業部)
									dl.cp-tel-list
										dt.cp-tellist__ttl
											|TEL:
										dd.cp-tellist__body
											|03-6265-0535
										dd.cp-tellist__sub-body
											|（担当：島田）
							small
								|&copy; BANKS All Rights Reserved.
	.sb-slidebar.sb-left
		p aaaa
block js
	include /_include/_inc__javaScript
