// build:css /css/style.css
// bower:css
link(rel='stylesheet', href='../bower_components/fontawesome/css/font-awesome.css')
//- link(rel='stylesheet', href='../bower_components/Slidebars/dist/slidebars.css')
link(rel='stylesheet', href='../bower_components/flexslider/flexslider.css')
// endbower
link(href='/css/style.css', rel='stylesheet')
// endbuild
// build:js js/modernizr.js
script(src='../bower_components/modernizr/modernizr.js')
// endbuild
!= '\n<!--[if lt IE 9]>'
// build:js js/respond.js
script(src='../bower_components/respond/dest/respond.min.js')
// endbuild
!= '\n<![endif]-->\n'