//- //common.js
//- // build:js /js/base/common.js
//- script(src="/js/base/common.js")
//- // endbuild

//- != '\n<!--[if lt IE 8]>'
//- script(src="/js/base/icomoon/ie7.js")
//- != '\n<![endif]-->\n'